body {
    font-family: 'Roboto', sans-serif;
}

.bannerFigure {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.bannerFigure img {
    width: 100%;
    display: block;
    margin-bottom: -15%;
}