.listingContainer {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 20px;
    width: 639px;
    height: 380px;
}

.listingIcon {
    position: absolute;
    padding-top: 20px;
    width: 93px;
}

.listingContent {
    position: relative;
    left: 90px;
    width: 546px;
    height: 60%;
}

.listingTitleContainer {
    padding-top: 26px;
    display: inline-block;
}

.listingTitle {
    font-size: 20px;
}

.listingDate {
    font-size: 14px;
    color: darkgray;
}

.listingCategory {
    padding: 9px 26px;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 26px;
    margin-right: 26px;
    display: inline-block;
    font-size: 14px;
    float: right;
}

.listingDescription {
    margin-right: 50px;
    margin-top: 29px;
    font-size: 14px;
    text-align: justify;
}

.listingLabels {
    margin-right: 50px;
    margin-top: 56px;
    font-size: 14px;
}

.listingLabels .labelColumn {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.listingLabels .labelHeader {
    font-family: 'Roboto-Bold', sans-serif;
    margin-bottom: 5px;
}

.buttonContainer {
    position: relative;
    height: 40%;
}

.buttonContainer button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 254px;
    height: 65px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 16px;
    color: #43BA80;
    background-color: white;
    border: none;
    border-radius: 8px;
}

.buttonContainer button:hover {
    color: white;
    background-color: #43BA80;
}